
html, body {
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

html {
  scroll-behavior: smooth;
}

.head{
  position: relative;
  z-index: 10;
}

.hero-section{
  position: relative;;
  overflow:hidden;
}

.text-section{
position: relative;
  height: fit-content;
  overflow: hidden;

}

.below{
  position: relative;
  height: fit-content;
}


.dualcard-wrapper{
   height: 300vh; /* Controls how long the dual-card stays stuck */
  position: relative;
}

.big-wrapper{
   height: fit-content; 
   position: relative;
   overflow: hidden;

}

.wide-card-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(233, 233, 233);
  justify-content: space-between;
  padding-bottom: 8vw;
}

.blog-wrapper{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  justify-content: space-between;
  padding: 4vw 4vw;
  padding-bottom: 8vw;
}