@import './Fonts/fonts';


.contact-container {
    width: 90%;
  display: flex;
  background-color: #fff;
  padding: 2rem;
  gap: 5vw;
  font-family: 'medium';

  .contact-info {
    display: flex;
    flex-direction: column;
    width: 22%;
    padding-right: 2rem;


    h4 {
      font-weight: bold;
      margin-block: 1.5rem;
      color: grey;
      font-size: 1.2vw;
    }

    p {
      margin: 0.5rem 0;
      font-size: 1.4vw;
      font-weight: bold;
    }

    .roll-wrapper{
      display: flex;
      width: 100%;
      height: 4vw;
      overflow: hidden;
      flex-direction: column;
    
      cursor: pointer;


      &:hover .roll{
        transform: translateY(-4vw);
      }


      .roll{
        display: flex;
        width: 100%;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;


        p{
          transform: translateY(-0.5vw);
          display: flex;
          align-items: center;
          padding: 0.5vw;
        }

      }

      &:hover hr {
        opacity: 1;
        width: 80%;
      }

      hr{
        height: 2px;
        transform: translateY(-5.2vw);
        background-color: black;
        width: 0;
        opacity: 0;
        transition: width 0.5s ease-in-out;
      }
    }
  }

  .contact-form {
    width: 60%;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-transform: uppercase;

    .form-item {
      display: flex;
      flex-direction: column;
      

      .form-head{
        display: inline-flex;
        font-size: 0.9rem;
        font-weight: 600;


        #small {
        font-weight: 400;
        font-size: 0.75rem;
        margin-left: 0.5rem;
      }
      }

      input,
      textarea {
        margin-top: 0.5rem;
        padding-block: 0.75rem;
        font-size: 1rem;
        border: none;
        border-bottom: 1px solid #ccc;
        outline: none;
        resize: none;

        &:hover{
            border-bottom: 1px solid #000000;
        }
      }

      textarea {
        height: 80px;
        text-transform: uppercase;
      }
    }

    .checkbox-group {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;

      .heading{
        font-size: 1vw;
        font-weight: 600;
        margin-bottom: 1vw;
      }

      span {
        margin-left: 1vw;
        font-size: 0.8rem;
        font-weight: 100;
        margin-bottom: 0.5rem;
        color: grey;
      }

      input{
        background-color: aqua;
      }

    }

    button {
      padding: 1rem;
      background-color: blue;
      color: white;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      transition: background-color 0.3s;

      &:hover {
        background-color: darkblue;
      }
    }
  }
}
