@import './Animations/animation';
@import './Fonts/fonts';




.sticky-header {
  height: 500vh; /* Creates enough scroll space */
  position: relative;
}

.sticky-content {
  position: fixed;
  top: 0;
  z-index: -2;
  white-space: nowrap;
  height: 100vh;
  display: flex;
  align-items: center;
  will-change: transform;
}

.sticky-content h1 {
  font-size: 25vw;
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  color: #111;
}

.front{
  z-index: -1;
}

.back{
  z-index: -5;
}

.front, .back{
  width: 100%;
  position: fixed;
  top: 0;
  height: 150vh;
  will-change: transform;

    .img-box{
    width: 15vw;
    height: 26vw;
    overflow: hidden;

    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  
  #front1{
    width: 15vw;
    height: 18vw;
    position: absolute;
    top: -5%;
    left: 20%;
  }

  #front2{
    width: 10vw;
    height: 15vw;
    position: absolute;
    top: 5%;
    left: 80%;
  }

  #front3{
    width: 16vw;
    height: 16vw;
    position: absolute;
    top: 66%;
    left: 22%;
  }

  #front4{
    width: 22vw;
    height: 25vw;
    position: absolute;
    top: 65%;
    left: 65%;
  }

  #back1{
    width: 22vw;
    height: 25vw;
    position: absolute;
    top: 28%;
    left: 2%;
  }

  #back2{
    width: 15vw;
    height: 20vw;
    position: absolute;
    top: 30%;
    left: 55%;
  }


}



.text-card{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-block: 3vw;
 padding-inline: 6vw;
 overflow: hidden;
 background-color: #ffffff;


  .button-wrapper{
    width: fit-content;
    height: fit-content;
    display: flex;
 }

 .cover-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;

      .cover-card{
      display: flex;
      width: 60%;
      height: 80%;
      box-shadow: 0 0px 6vw 8vw rgb(255, 255, 255);
      background-color: rgb(255, 255, 255);
    }
 }

 .text-container{
    display: flex;
    color: black;
    font-family: 'medium', sans-serif;
    
    font-size: 2rem;
    padding-block: 3vw;
    padding-inline: 17vw;
    font-weight: 600;
    text-align: center;
 }


  .bigtext-container{
    display: flex;
    color: black;
    text-transform: uppercase;
    font-family: 'coolvetica', sans-serif;
    font-size: 9vw;
    padding-block: 3vw;
    padding-inline: 4vw;
    line-height: 1;
    font-weight: 400;
    text-align: center;

 }

}

.bigtextcard{
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 160vh;
  background-color: #fff;


  .large-text{
    margin: 0%;
    padding: 0;
    padding-left: 4vw;
    line-height: 0.8;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    
    width: fit-content;
    height: fit-content;

    h1{
       font-family: 'coolvetica', sans-serif;
      font-size: 28vw;
      font-weight: 100;
      letter-spacing: 0.1vw;
    }
  }
      .image-container{
      overflow: hidden;
      position: absolute;
      top: 35%;
      left: 55%;
      border-radius: 0.5rem;
      margin-left: 5vw;
      display: flex;
      width: 28vw;
      height: 12vw;
      background-color: white;
    

      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
}




.scroll-container {
 width: 100%;
 display: flex;
  overflow: hidden;
  background: #111;
  color: white;
  white-space: nowrap;
  cursor: pointer;

  &:hover{
    background-color: #fff;
    color: #0a0a0a;
  }

  &:hover .scroll-text hr{
    background-color: #0a0a0a;
  }

}

.scroll-content{
  display: inline-flex;
  animation: marquee 10s linear infinite;

}

.scroll-text{
  display: flex;
  align-items: center;
   font-family: 'coolvetica', sans-serif;
   font-weight: 200;
  font-size: 26vw;
}

.scroll-text hr {
  display: inline-block;
  width: 10vw;
  height: 0.5px;
  background: #fff;
  border: none;
  margin: 0 20px;
  vertical-align: middle;
}



