@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1.2vw);
  }
}
@keyframes slideright {
  from {
    transform: translatex(0px);
    opacity: 0;
  }
  to {
    transform: translatex(20px);
    opacity: 1;
  }
}
@keyframes drop {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.slide-up {
  animation: slideUp 3s ease-in-out;
}

.pulse {
  animation: pulse 1.5s infinite;
}

@font-face {
  font-family: "big";
  src: url("../assets/fonts/BigShoulders-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "impact";
  src: url("../assets/fonts/impact.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "medium";
  src: url("../assets/fonts/InstrumentSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "anton";
  src: url("../assets/fonts/Antonio-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "oswald";
  src: url("../assets/fonts/Oswald-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "league";
  src: url("../assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "coolvetica";
  src: url("../assets/fonts/Coolvetica Rg Cond.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.sticky-header {
  width: 100vw;
  position: relative;
  height: 100vh;
}

.sticky-content {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
  white-space: nowrap;
  width: 250vw; /* Adjust this to make scrolling longer */
  height: 100vh;
  align-items: center;
  padding-inline: 5vw;
  will-change: transform;
}

.sticky-content h1 {
  font-size: 25vw;
  font-family: "coolvetica", sans-serif;
  font-weight: 400;
  color: #111;
}

.text-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block: 3vw;
  padding-inline: 6vw;
  background-color: #ffffff;
}
.text-card .button-wrapper {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
}
.text-card .text-container {
  display: flex;
  color: black;
  font-family: "medium";
  font-size: 2rem;
  padding-block: 3vw;
  padding-inline: 17vw;
  font-weight: 600;
  text-align: center;
}
.text-card .bigtext-container {
  color: black;
  text-transform: uppercase;
  font-family: "coolvetica";
  font-size: 9vw;
  padding-block: 3vw;
  padding-inline: 4vw;
  line-height: 1;
  font-weight: 400;
  text-align: center;
}

.bigtextcard {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0;
  width: 100%;
  height: 160vh;
  background-color: #fff;
}
.bigtextcard .large-text {
  margin: 0%;
  padding: 0;
  padding-left: 4vw;
  line-height: 0.8;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.bigtextcard .large-text h1 {
  font-family: "coolvetica";
  font-size: 28vw;
  font-weight: 100;
  letter-spacing: 0.1vw;
}
.bigtextcard .large-text .image-container {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-left: 5vw;
  display: flex;
  width: 28vw;
  height: 12vw;
  background-color: white;
}
.bigtextcard .large-text .image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.scroll-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  background: #111;
  color: white;
  white-space: nowrap;
  cursor: pointer;
}
.scroll-container:hover {
  background-color: #fff;
  color: #0a0a0a;
}
.scroll-container:hover .scroll-text hr {
  background-color: #0a0a0a;
}

.scroll-content {
  display: inline-flex;
  animation: marquee 10s linear infinite;
}

.scroll-text {
  display: flex;
  align-items: center;
  font-family: "coolvetica";
  font-weight: 200;
  font-size: 26vw;
}

.scroll-text hr {
  display: inline-block;
  width: 10vw;
  height: 0.5px;
  background: #fff;
  border: none;
  margin: 0 20px;
  vertical-align: middle;
}/*# sourceMappingURL=main.css.map */