@import './Animations/animation';
@import './Fonts/fonts';




.navbar {
  width: 100%;
  padding-inline: 3vw 4vw;
  position: relative;
  margin: 0;
  height: 8vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  z-index: 10;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center; // vertically center
  align-items: center;     // horizontally center
  height: 6vw;

  .name {
    display: flex;
    width: 92%;
    text-align: center;
    font-family: "coolvetica", Impact, sans-serif;
    font-size: 1.5vw;
    font-weight: 600;
    letter-spacing: 0.4vw;
    transform: scaleY(1.9);
  }

  hr {
    margin-bottom: 0.8vw; // optional spacing above or below
    height: 0.35vw;
    background-color: black;
    width: 96%;
  }
}

.right {
  display: flex;
  width: fit-content;
  align-items: center;

  h2{
    font-size: 2vw;
  }
}

.nav-options {
  display: flex;
  flex-direction: column;
  height: 2vw;
  overflow: hidden;
  position: relative;
  justify-content: flex-end;
  padding-inline: 0.2vw;
  width: fit-content;

  &:hover .optiontext {
    transform: translateY(0.1vw);
  }

    &::after {
      content: "";

      position: absolute;
      left: 5%;
      bottom: 0%; // stick it to the bottom
      height: 2px;
      width: 0%;
      background-color: black;
      transition: width 0.4s ease-in-out;
    }

    &:hover::after {
      width: 100%; // expands on hover
    }
}

.optiontext {
  display: flex;
  width: fit-content;
  flex-direction: column;
  font-family: 'medium', sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  text-align: end;
  transform: translateY(2.6vw);
  transition: transform 0.35s cubic-bezier(0.1, 0, 0.3, 1);

  &__box{
    display: flex;
    margin-block: 0.3vw;
    width: fit-content;
  }
}
