@mixin transition($properties: all, $duration: 0.3s, $timing: ease-in-out) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

// animations.scss

// Fade in animation
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// Slide up animation
@keyframes slideUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-1.2vw);
  }
}

@keyframes slideright {
  from {
    transform: translatex(0px);
    opacity: 0;
  }
  to {
    transform: translatex(20px);
    opacity: 1;
  }
}

// dropdown animation
@keyframes drop {
  from {
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform: scaleY(1);
    opacity: 1;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scrolling {
  to {
    transform: translate(calc(-20% - 1rem));
  }
}

// Pulse animation
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

// Reusable animation classes
.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.slide-up {
  animation: slideUp 3s ease-in-out;
}

.pulse {
  animation: pulse 1.5s infinite;
}
